/TareaSemana3/target/
/PracticoExperimental/target/
/Semana 5/nbproject/private/
/Estructura de listas enlazadas/nbproject/private/
/Invertir una lista enlazada/nbproject/private/
/Invertir una lista enlazada/build/
/ListaAleatoria/nbproject/private/
/ListaAleatoria/build/
